/* .cart{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 50px;
}
.cart01{
   border: 1px solid black;
}
.cart02{
   border: 1px solid black;
}
.cart03{
   border: 1px solid black;
} */

