/* .cart{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 50px;
}
.cart01{
   border: 1px solid black;
}
.cart02{
   border: 1px solid black;
}
.cart03{
   border: 1px solid black;
} */
/* ------------------------------- */
/* .cards h3 {
   color: purple;
   size: 40px;
}
.freepik {
   color: purple;
}
.btn {
   margin-top: 15px;
}
.cards {
   width: 350px;
   height: 250px;
   border: 2px solid purple;
   text-align: center;
}
.btn  span {
   border: 2px solid purple;
   padding: 10px 20px;
   background-color: purple;
   color: white;
} */

/* ------------------------------- */

/* *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.container{
   border: 1px solid black;
   
}

nav ul{
   display: flex;
   border: 1px solid blue;
   justify-content: center;
   list-style: none; 
   
}

nav ul li{
padding: 10px 20px;
}

.blue{
   background-color: blue;
   color: white;
}


.black{
   background-color: black;
   color: white;
}

.yellow{
   background-color: yellow;
}

.blue:hover{
   background-color: skyblue;

} */
p {
   text-align: center;
}
h5 {
   text-align: center;
   background-color: gray;
}