.container{
    border: 1px solid black;
    text-align: center;

}
.card {
    border: 3px solid black;
    text-align: center;
    background-color: blueviolet;
    color:white;
}
.leo {
    display: flex;
    justify-content: space-between;
    color: white;

}